<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chatting Buddy</h1>
    <form method="POST" action="/
    ">
    <label for="Text">Enter your Prompt</label>
    <input type="text" id="text" name="text">
    <br>
    <input type="submit" value="submit">
    </form>
    {% if result %}
        <div class="result">
            <h1>Result</h1>
            <p>{{ result }}</p>
        </div>
    {% endif %}
    
</body>
</html>